[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lang-trans = "*"
librosa = "*"
jiwer = "*"
ffmpeg-python = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.9"
